<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/register-office</property>
        <property name="hibernate.connection.username">papa</property>
        <property name="hibernate.connection.password">777555</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="bmw.register_office.domain.Person" />

    </session-factory>

</hibernate-configuration>